<div class="wrapper" (click)="onCardClicked()">
    <div class="photo-section-div">
        <div class="photo-row-div">
            <div class="photo-wrapper"> 
                <img (load)="onLoaded(0)" [src]="city ? city.thumbNail : ''" alt="My image">
                <nz-spin *ngIf="!isLoaded(0)"></nz-spin>
            </div>
        </div>
    </div>
    <div class="city-title-div">
        <div> {{city.cityName}}</div>
        <mat-icon>open_in_new</mat-icon>
    </div>

    <div class="info-title-div"> {{city.tagline}} </div>
    <div class="bullet-points-div">
        <li> point1 </li>
        <li> point2 </li>
        <li> point3 </li>
    </div>
    <div class="footnote-wrapper">
        <div class="footnote-div" *ngFor="let row of tagRows">
            <app-tag *ngFor="let tag of row" [tag]="tag" [selected]="isTagClicked(tag)" [shadowAll]="allTagsSelected"> </app-tag>
        </div>
    </div>
</div>