<h1>Pick a vibe</h1>
>

<app-filter-bar (onSelectedTagsChanged)="onSelectedTagsChanged($event)">
</app-filter-bar>

<div #photoContainerStart class="photo-container-wrapper">
  <div class="photo-container-div">
    <div
      *ngFor="let row of getFirstNthRowOfCities(showedRow)"
      class="photo-row-div"
    >
      <app-city-card
        *ngFor="let city of row"
        [city]="city"
        class="photo-item-div"
        [selectedTagIds]="selectedTagIds"
      >
      </app-city-card>
    </div>
  </div>
</div>

<div class="show-more-wrapper">
  <button
    nz-button
    nzType="default"
    (click)="onShowAllButtonClicked()"
    [disabled]="isShowAllButtonDisabled()"
  >
    <div class="button-div">
      <div>Show all</div>
      <span><mat-icon inline> expand_more </mat-icon> </span>
    </div>
  </button>
  <button
    nz-button
    nzType="default"
    (click)="onCollapseAllButtonClicked(photoContainerStart)"
    [disabled]="isCollapseAllButtonDisabled()"
  >
    <div class="button-div">
      <div>Show less</div>
      <span><mat-icon inline> expand_less </mat-icon> </span>
    </div>
  </button>
</div>
