:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding-left: 1em;
}

.info-container {
    background-color: aquamarine;
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 2em;
}

.title {
    justify-content: center;
    color:rgb(254, 147, 6);
    font-size: 2em;
    font-weight: bold;
    display: flex;
}
.title div {
    text-align: center;
    vertical-align: center;
}

.info-div {
    border-top: 0.5em solid transparent;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}