:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    border-right: 5px;
    border-left: 5px;
    box-sizing: content-box;
    font-size: 7px;
}

.info-container {
    background-color: aquamarine;
    padding: 0.5em;
    border-radius: 4px;
}

.title {
    justify-content: center;
    color:rgb(254, 147, 6);
    display: flex;
}
.title div {
    text-align: center;
    vertical-align: center;
}

.info-div {
    border-top: 0.5em solid transparent;
    font-size: 5px;
    font-weight: 500;
}

mat-icon {
    padding: 2px;
}