<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<footer class="footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-intro">
        <img src="https://i.ibb.co/hmmz8Dy/Long-logo-transparent-background.png" alt="">
        <p>Unlock the Wonders of Vietnam: Your Ultimate Travel Companion for a Memorable Journey.</p>
        <div class="footer-social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <h4>About</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">News</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="#">Our "Why"</a></li>
          <li><a href="#">Partner With Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Support</h4>
        <ul>
          <li><a href="#">Support Center</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-send-email">
        <a href="mailto:hungdn210@gmail.com"><img src="https://i.ibb.co/2nMVLjd/image.png" alt=""></a>
      </div>
    </div>
  </div>
</footer>
