div.page-container-div {
    height: 90%;
    display: flex;
}

div.map-div {
    height: 100%;
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
}

svg {
    width: 100%;
    transform: scale(1);
}

path:hover {
    opacity: 0.5;
}

path.active {
    opacity: 0.5;
    fill: red;
}

.map-div {
    display: inline-flex;
}

