<div>
    <app-search-bar
        [(selectedCity)]="selectedCity"
        (cityChanged)="onCityChanged($event)"></app-search-bar> 
</div>

<div class="page-container-div">
    <app-info-container [city]="selectedCity"> </app-info-container>
    <div class="map-div">
        <svg [attr.viewBox]="viewBox">
            <path *ngFor="let entry of mapEntries"
                [attr.d]="entry.d"
                [attr.title]="entry.title"
                [attr.id]="entry.id"
                (click)="onClick(entry, $event)"
                [ngClass]="{'active': isSelected(entry)}"
            />
        </svg>
    </div>
    <app-photo-container [city]="selectedCity"></app-photo-container>
</div>