<div class="app-wrapper">
  <h1 class="app-header view-header">
    Sample itineraries
  </h1>
  <div *ngFor="let line of itinerariesLine; index as i" class="collapses-line">
    <div *ngFor="let itinerary of line; index as e" class="collapse-wrapper">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{itinerary.itineraryType}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [id]="itinerariesIds[i][e]">
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
