<div class="nationalCelebrations">
  <h1>National Celebrations</h1>
  <div class="NC-contents">
    <div class="NC-contents-row">
      <div class="NC-contents-col" *ngFor="let picture of pictures">
        <a href="#">
          <div class="NC-contents-pic">
            <img [src]="picture.link" alt="City Picture">
          </div>
          <div class="NC-contents-infor">
            <h3>{{ picture.name }}</h3>
            <p>{{ picture.scale }}</p>
            <p>{{ picture.date }}</p>
          </div>

          <div class="NC-contents-description">
            <p>Commemorates the declaration of Vietnam's independence from France's and Japan's occupation, establishing the Democratic Republic of Vietnam on September 2nd, 1945</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
