* {
  font-family: 'Inter';
}
#get-bold {
  font-weight: 2000;
}
.intro {
  width: 100%;
  text-align: center;
}
.intro h1 {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-size: 6.5vw;
  line-height: 94%;
  text-align: center;
  letter-spacing: 1px;
  color: #091133;
  padding: 10vh 0 5vh 0;
}
.intro img {
  width: 65%;
}

/* our team introduction */
.ourTeamIntro {
  width: 100%;
  text-align: center;
  margin: 10vh 0 0 0;
}
.member-intro {
  display: inline-block;
  width: 40%;
  padding: 0 5% 5% 5%;
}
.member-intro img {
  width: 100%;
}

/* founder-letter */
.founder-letter {
  width: 90vw;
  margin: 10vh 0 10vh 5vw;
  text-align: center;
  overflow: hidden;
}
.founder-comment-div {
  display: inline-block;
  width: 85%;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
}
.founder-comment-div h3 {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 85px;
  letter-spacing: 1px;
  color: #091133;
}
.founder-comment-div p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #091133;
}

.founder-pics-div {
  display: inline-block;
  width: 15%;
  overflow: hidden;
}
.founder-pics-div img {
  width: 100%;
}

/* wave pic */
.wavePic {
  width: 100%;
  padding: 0 0 10vh 0;
}
.wavePic img {
  width: 100%;
}

/* Join our team */

.join-our-team {
  width: 90vw;
  margin: 0 0 15vh 5vw;
  text-align: center;
}
.JOT-pic {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 15vh 5% 0 0;
}
.JOT-pic img {
  width: 100%;
}
.JOT-comment-div {
  display: inline-block;
  width:70%;
  text-align: left;
}
.JOT-comment-div h3 {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 85px;
  letter-spacing: 1px;
  color: #091133;
}
.JOT-comment-div p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #091133;
}
.JOT-comment-div img {
  width: 30%;
  border-radius: 10%;
  padding: 5vh 0;
}
.pic-ao-dai {
  width: 70% !important;
}


/* responsive */
@media screen and (max-width: 800px) {
  .intro img {
    width: 90%;
  }
  .member-intro {
    width: 80%;
  }
  .founder-comment-div {
    width: 100%;
  }
  .founder-pics-div {
    width: 100%;
    text-align: center;
  }
  .founder-pics-comp {
    display: inline-block;
    width: 30%;
  }
  .pic-ao-dai {
    width: 50% !important;
  }
  .wavePic img {
    height: 15vh;
  }
  .JOT-pic {
    width: 100%;
    padding: 0;
  }
  .JOT-comment-div {
    width: 90%;
  }
}
