<app-shared-header></app-shared-header>
<div class="intro">
  <h1>Vietnam Wanderlust</h1>
  <p>Tips and Recommendations for your perfect journey</p>
  <div class="lanterns">
    <img src="https://i.ibb.co/M8RVss4/image.png" alt="lanterns-green" id="lanterns-green">
    <img src="https://i.ibb.co/KDZw524/image.png" alt="lanterns-pink" id="lanterns-pink">
  </div>
</div>
<div class="tapestry-of-talents">
  <p id="tapestry-links">About us</p>
  <h2>A Tapestry Of Talents</h2>
  <p>Get to know our scattered squad</p>
  <img src="https://i.ibb.co/gjtWCNW/image.png" alt="maps-for-location">
  <h4>Support</h4>
  <p>Our friendly team is here to help.</p>
  <a href="mailto:hungdn210@gmail.com"><p id="tapestry-links">visitvietnam.online@gmail.com</p></a>
</div>

<div class="comments">
  <h2>Meet Our Team</h2>
  <div id="Duy-comment" class="comments-col">
    <img src="https://i.ibb.co/449Wc4T/image.png" alt="">
    <div class="text-box">
      <h5>Passion</h5>
      <p>Thanks for being around me this year. All of my experience this year involves you. You witnessed me starting my first and second internships. You were there when I did my first-ever research. You traveled with me through many new cities. I hope I can have the privilege to be with you in the next year or anytime ahead.</p>
    </div>
  </div>
  <div id="Sinh-comment" class="comments-col">
    <div class="text-box">
      <h5>Motivation</h5>
      <p>Thanks for being around me this year. All of my experience this year involves you. You witnessed me starting my first and second internships. You were there when I did my first-ever research. You traveled with me through many new cities. I hope I can have the privilege to be with you in the next year or anytime ahead.</p>
    </div>
    <img src="https://i.ibb.co/GRQW7P1/image.png" alt="">
  </div>
  <div id="Hung-comment" class="comments-col">
    <img src="https://i.ibb.co/cF9KmZG/image.png" alt="">
    <div class="text-box">
      <h5>Innovation</h5>
      <p>Thanks for being around me this year. All of my experience this year involves you. You witnessed me starting my first and second internships. You were there when I did my first-ever research. You traveled with me through many new cities. I hope I can have the privilege to be with you in the next year or anytime ahead.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
