<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<app-shared-header></app-shared-header>
<div class="intro">
  <h1>Get to know our scattered squad</h1>
  <img src="https://i.ibb.co/LJCqKGq/image.png" alt="map-world">
</div>

<div class="ourTeamIntro">
  <div class="member-intro">
    <a target=”_blank” href="https://www.linkedin.com/in/sierra-ng/"><img src="https://i.ibb.co/MnWSgc5/image.png" alt=""></a>
  </div>
  <div class="member-intro">
    <a target=”_blank” href="https://www.linkedin.com/in/duy-k-vu/"><img src="https://i.ibb.co/wC4y5f7/image.png" alt=""></a>
  </div>
  <div class="member-intro">
    <a target=”_blank” href="https://www.linkedin.com/in/hung-phi-nguyen-681503221/"><img src="https://i.ibb.co/StF3Z69/image.png" alt=""></a>
  </div>
  <div class="member-intro">
    <a target=”_blank” href="#"><img src="https://i.ibb.co/pQCV8q0/image.png" alt=""></a>
  </div>
</div>

<div class="founder-letter">
  <div class="founder-comment-div">
    <h3>Hey there,</h3>
    <p>I'm Sierra Nguyen, the founder of visitVietnam. I wanted to take a moment to share with you the story behind our website and how it all came to be.</p>
    <p>It all started with my dad, Hung Nguyen, and his years of dedication in capturing stunning visuals of places he traveled to along our S-shape country of Vietnam, from the northern highlands to the southern beaches. Those images spoke volumes about the beauty and diversity of our homeland, and I couldn't help but feel a deep desire to share it with the world.</p>
    <p>Living abroad in the U.S as a teen and now in Switzerland, I often found myself longing for the sights, sounds, and flavors of Vietnam. Yet, it wasn't just a longing for home that stirred within me. It was a burning desire to redefine the narrative surrounding Vietnam, to unveil its hidden treasures beyond the pages of history books, beyond the shadows of the Vietnam-American war. That's when the idea of visitVietnam took root in my mind. I wanted to create a platform that would not only showcase the extraordinary landscapes and cultural heritage of Vietnam but also provide travelers with the resources they need to plan their own unforgettable journeys.</p>
    <p>Bringing my vision to life required a dedicated team, and that's where my brother, Harry, and my best friend, Duy, came in. Despite being scattered across different countries, we shared the collective passion for unveiling the true essence of Vietnam and the belief that we could create something truly special together.</p>
    <p>In May 2023, we embarked on this incredible adventure. Our goal is simple: to inspire and guide travelers, allowing them to immerse themselves in the rich tapestry of our culture, discover hidden gems, and forge unforgettable memories.</p>
    <p>Join us on this journey as we celebrate the beauty of Vietnam and warmly invite you to experience it firsthand.</p>
    <p>Welcome to Vietnam.</p>
    <p><strong>Sierra Nguyen</strong></p>
    <p><em>Founder of visitVietnam</em></p>
  </div>
  <div class="founder-pics-div">
    <div class="founder-pics-comp">
      <img src="https://i.ibb.co/2Mydk5n/image.png" alt="">
    </div>
    <div class="founder-pics-comp">
      <img class="pic-ao-dai" src="https://i.ibb.co/Vpxxkck/image.png" alt="">
    </div>
    <div class="founder-pics-comp">
      <img src="https://i.ibb.co/71gBTdN/image.png" alt="">
    </div>
  </div>
</div>
<div class="wavePic">
  <img src="https://i.ibb.co/kQkh2jY/image.png" alt="">
</div>
<div class="join-our-team">
  <div class="JOT-pic">
    <img src="https://i.ibb.co/p0zbh5f/image.png" alt="">
  </div>
  <div class="JOT-comment-div">
    <h3>Join our team?</h3>
    <p>At visitVietnam, we have big dreams for the future to turn visitVietnam into a powerful tool that not only benefits travelers but also uplifts local communities across Vietnam. However, we humbly acknowledge that our team is small, and each of us dedicates part of our spare time to this project amidst our educational pursuits and professional commitments.</p>
    <p>If you share our passion and would like to be part of our journey, we warmly invite you to join us. We believe in the value of hands-on experience and the strength of collaboration. Whether you're a student eager to contribute your skills, a professional seeking a fulfilling side project, or simply someone who believes in the enchantment of Vietnam, we want to hear from you.</p>
    <p>Reach out to us today, and let's embark on this incredible journey together.</p>
    <a href="mailto:sierra.pi314@gmail.com"><img src="https://i.ibb.co/HK5K9YB/image.png" alt=""></a>
  </div>
</div>

<app-footer></app-footer>
