<div class="app-wrapper">
    <div class="app-header">
        Let’s talk weather
    </div>
    <div
        class="weather-wrapper-div"
    >
        <div
            class="weather-div"
            id="ww_757c2bc9d43ee" 
            v='1.3' 
            loc='id'
            a='{
                "t":"horizontal",
                "lang":"en",
                "sl_lpl":1,
                "ids":["wl2607", "wl5498"],
                "font":"Arial",
                "sl_ics":"one_a",
                "sl_sot":"fahrenheit",
                "cl_bkg":"#FFFFFF00",
                "cl_font":"#FFFFFF",
                "cl_cloud":"#949494ff",
                "cl_persp":"#30b6f3ff",
                "cl_sun":"#FFC107FF",
                "cl_moon":"#FFC107FF",
                "cl_thund":"#FF5722",
                "cl_font":"#000000",
                "width":"30vw"
            }'
        >
            Weather Data Source: 
            <a href="https://meteolongue.com/paris_meteo_25_jours/" id="ww_757c2bc9d43ee_u"
                target="_blank">Meteo 25 jours
            </a>
        </div>
    </div>
</div>