@font-face {
    font-family: 'Parisienne';
    src: url('../../../assets/fonts/Parisienne/Parisienne-Regular.ttf');
}

.app-header {
    font-family: 'Parisienne';
    display: flex;
    justify-content: center;
    padding-top: 1em;
    font-size: 110px;
}

.weather-wrapper-div {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}