@font-face {
    font-family: 'Parisienne';
    src: url('../../../assets/fonts/Parisienne/Parisienne-Regular.ttf');
}

.app-header {
    font-family: 'Parisienne';
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.weather-wrapper-div {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

#ww_757c2bc9d43ee {
  max-width: unset;
  width: 100%;
  font-size: 2em;
}
