<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Besley' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<section class="header">
  <nav>
    <a href="#"><img src="https://i.ibb.co/hmmz8Dy/Long-logo-transparent-background.png" alt=""></a>
    <div class="nav-links" id="navLinks">
      <ul>
        <li><a routerLink="['/homepage']">Home</a></li>
        <li><a href="listCities.html">List of cities</a></li>
        <li><a href="holiday.html">Holiday</a></li>
        <li><a href="">Weather</a></li>
        <li><a href="aboutUs.html">About Us</a></li>
      </ul>
    </div>
  </nav>
  <div class="text-box">
    <h1 class="view-header">Welcome to</h1>
    <h2 class="view-header">Vietnam</h2>
    <p>where ancient traditions meet modern marvels. Whether you seek adventure, history, natural wonders, or simply warm hospitality, Vietnam has it all. Let our website be your guide as you embark on an unforgettable journey through this land of captivating beauty and timeless charm. </p>
    <p>Plan your visit to Vietnam today and let the magic unfold!</p>
  </div>
  <div class="div-wrapper">
    <img src="https://i.ibb.co/b1kmKJm/image.png"/>
</div>
</section>
