<div class="page-header">
    <h1> {{header}} </h1>
    <button
      nz-button
      (click)="onViewAllClicked()">
        View all
        <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
    </button>
</div>
<div class="travel-tip-cards">
    <app-travel-tip-card
        *ngFor="let travelTip of getDisplayedItems(); index as i"
        [blog]="travelTip"
        [rectColor]="rectColors[i]"
        [height]="maxHeightStr"
        (headerHeight)="onCardHeaderChanged($event)"
        (cardClicked)="onCardClicked($event)"
    > </app-travel-tip-card>
</div>
<app-pagination
    [itemPerPage]="travelTips ? 3 : 1"
    [itemsSize]="!travelTips ? 1 : travelTips.length"
    (pageChanged)="onPageChanged($event)"
    [(selectedPage)]="currentPage"
> </app-pagination>
