.slider{
  width: 100vw;
  text-align: center;
  margin-top: 10vh;
}
.slider h1 {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  letter-spacing: 1px;
  color: #091133;
}

.slider-container {
  display: inline-block;
  width: 90vw;
  height: 60vh;
  justify-content: space-between;
  margin-bottom: 5vh;
}
.slider-container span {
  text-align: center;
  margin-top: 35vh;
}
.left-arrow {
  width: 5%;
  height: 100%;
  float: left;
  cursor: pointer;
}
.right-arrow {
  width: 5%;
  height: 100%;
  float: right;
  cursor: pointer;
}

.slides {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  float: left;
}

.slides-pic img{
  height: 100%;
  border-radius: 30px;
}

.slides-pic {
  display: none;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 30px;
}

.slides-pic.active {
  display: block;
  opacity: 1;
  animation: slide-in-zoom 0.5s ease;
}

@keyframes slide-in-zoom {
  from {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}


/* slide show */

.mini-slideShow {
  width: 100%;
  padding: 3vh 0 15vh 0;
}

.slide-show {
  display: inline-block;
  width: 90vw;
  overflow: hidden;
}

.slides-show-container {
  display: flex;
  width: fit-content;
  transition: transform 0.3s ease;
}

.slides-show-div {
  height: 10vh; /* Adjust the spacing between slides as per your requirement */
  cursor: pointer;
}

.slides-show-div img {
  width: auto;
  height: 100%;
  border-radius: 12px;
  margin:0 5px 0 5px;
}

.ss-left-arrow {
  display: inline-block;

  width: 5vw;
  height: 10vh;
  cursor: pointer;
  overflow: hidden !important;
}
.ss-right-arrow {
  display: inline-block;
  width: 5vw;
  height: 10vh;
  cursor: pointer;
  overflow: hidden;
}
.ss-left-arrow span,
.ss-right-arrow span {
  position: relative;
  top: 4vh;
}
