<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Besley' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css2?family=Poppins' rel="stylesheet">
<div class="slider">
  <div class="slider-container">
    <div class="left-arrow" (click)="changeImage(-1)">
      <span nz-icon nzType="left" nzTheme="outline"></span>
    </div>
    <div class="slides">
      <div class="slides-pic" *ngFor="let image of images; let i = index" [ngClass]="{ 'active': i === currentChangeImageIndex }">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
    <div class="right-arrow" (click)="changeImage(1)">
      <span nz-icon nzType="right" nzTheme="outline"></span>
    </div>
  </div>
  <br>
  <div class="ss-left-arrow" (click)="changeSlideShow(-1)">
    <span nz-icon nzType="left" nzTheme="outline"></span>
  </div>
  <div class="slide-show">
    <div class="slides-show-container">
      <div class="slides-show-div" *ngFor="let image of images; let i = index">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
  </div>
  <div class="ss-right-arrow" (click)="changeSlideShow(1)">
    <span nz-icon nzType="right" nzTheme="outline"></span>
  </div>
</div>
