.slider{
  width: 100vw;
  text-align: center;
  margin-top: 10vh;
}
.slider h1 {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 1px;
  color: #091133;
}

/* slideshow */
.slideShow {
  padding: 0 0 10vh 0;
}
