.travel-tip-cards {
  display: flex;
  padding-left: 10em;
  padding-right: 10em;
  width: 100%;
  align-items: flex-start;
  margin-top: 2em;
}

.travel-tip-cards app-travel-tip-card {
  width: calc((100% - 8em) / 3);
}

.travel-tip-cards app-travel-tip-card:not(:last-child) {
  margin-right: 4em;
}

app-pagination {
  padding-bottom: 10em;
}

@media screen and (max-width: 800px) {
  .travel-tip-cards {
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
  }
  .travel-tip-cards app-travel-tip-card {
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    margin-top: 2em;
  }
}
