<app-shared-header> </app-shared-header>
<app-city-welcome-component [city]="city"> </app-city-welcome-component>
<app-slider [sliderNumber]="cityId"></app-slider>
<div class="component-wrapper">
  <app-city-experience [cityExperiences]="cityExperiences">
  </app-city-experience>
</div>
<div class="component-wrapper">
  <app-sample-itinerary [itineraries]="itineraries">
  </app-sample-itinerary>
</div>
<div class="component-wrapper">
  <app-weather-component [city]="city"> </app-weather-component>
</div>
<app-footer> </app-footer>
