<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Besley' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<nav>
  <a href="#"><img src="https://i.ibb.co/hmmz8Dy/Long-logo-transparent-background.png" alt=""></a>
  <div class="nav-links" id="navLinks">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
