
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: normal;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    border-radius: 15px !important;
}
