
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: normal;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    border-radius: 15px !important;
}

#ww_757c2bc9d43ee .ww_hour {
  width: unset !important;
}

#ww_757c2bc9d43ee .ww_arr.ww_arr_right {
  background-color: unset;
}

#ww_757c2bc9d43ee .ww_arr.ww_arr_left {
  background-color: unset;
}


#ww_757c2bc9d43ee .ww_noselect.ww_hours {
  margin-top: 1em;
}

#ww_757c2bc9d43ee .ww_delimiter {
  background-color: green !important;
}

.view-header {
  font-size: 50px;
}

@media screen and (max-width: 800px) {
  .view-header {
    font-size: 50px;
  }
}

.flickr-embed-photo img {
  width:1000px !important;
  aspect-ratio: unset !important;
  max-width: unset !important;
}
