<nz-input-group [nzSuffix]="suffixIconSearch">
    <input placeholder="Input city name" nz-input
        [(ngModel)]="inputCityName" (input)="onInput($event)"
        [nzAutocomplete]="auto" (ngModelChange)="onInputChanged()" />
    <nz-autocomplete #auto>
        <nz-auto-option *ngFor="let option of cityOptions" [nzValue]="option">{{ option }}</nz-auto-option>
    </nz-autocomplete>
</nz-input-group>


<ng-template #suffixIconSearch>
    <mat-icon>search</mat-icon>
</ng-template>
<span class="example-spacer"></span>


<nz-select *ngFor="let bigRegion of bigRegionNames" (ngModelChange)="onValueSelected($event)" [(ngModel)]="selectedCityByBigRegionName[bigRegion]" nzAllowClear
    nzPlaceHolder={{bigRegion}} [nzOptions]="nzOptionByBigRegionName.get(bigRegion)"></nz-select>